In [31]:
import numpy as np
import scipy.io
import pandas as pd

In [32]:
data_set = scipy.io.loadmat('task_1.mat')

In [33]:
data_set.keys()

dict_keys(['__header__', '__version__', '__globals__', 'lab1_1'])

In [34]:
features = data_set['lab1_1']
df = pd.DataFrame(data=features, columns=['height', 'age', 'width'])
df

    height  age  width
0      181   25     69
1      184   30     76
2      190   27     81
3      192   23     82
4      178   37     68
5      180   33     71
6      181   40     70
7      185   42     73
8      192   45     84
9      191   48     91
10     177   49     74
11     183   50     83
12     181   41     71
13     183   43     75
14     191   44     84
15     191   46     90
16     178   47     73
17     181   44     77
18     181   55     86
19     184   52     86
20     192   51     93
21     191   54     95
22     177   53     82
23     183   43     74

In [39]:
cov

           height        age      width
height  28.432971  -3.018116  30.586957
age     -3.018116  84.601449  37.913043
width   30.586957  37.913043  64.260870

In [40]:
var

height    28.432971
age       84.601449
width     64.260870
dtype: float64

In [41]:
np.sqrt(var)

height    5.332258
age       9.197905
width     8.016288
dtype: float64